@font-face {font-family: "TT Norms";
  src: url('./../fonts/TTNorms-Medium.otf') format('opentype');
}

@font-face {font-family: 'TT Norms Light';
  src: url('./../fonts/TTNorms-Light.otf') format('opentype')
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
a:hover {
  text-decoration: none;
}

h1, h2, h3, h4 .font-primary {
  font-family: "TT Norms";
}

h1 .font-primary {
  font-size: 60px;
}

p, .hyodyt .font-primary {
  font-family: "TT Norms Light";
}
section {
  padding: 60px 0;
}

.section-bg {
  background-color: #fef8f5;
}


/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 3px;
  right: 15px;
  bottom: 15px;
  transition: display 0.5s ease-in-out;
  z-index: 99999;
}

.back-to-top i {
  font-size: 24px;
  position: center;
  top: 8px;
  left: 8px;
}

.back-to-top:hover {
  border: 1px solid black;
  transition: background 0.2s ease-in-out;
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 72px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  padding: 15px 0;
  background: white;

  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}
.text-dark{
  font-weight: bold;
}
.mylinks{
  font-weight: bold;
}
#header .logo h1 {
  font-size: 25px;
  margin: 0;
  padding: 6px 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 2px;
}

#header .logo h1 a, #header .logo h1 a:hover {
  color: #0f0f0f;
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}

#main {
  margin-top: 72px;
}
@media (max-width: 575px) {
  #header {
    background: #edbf07;
  }
  .mylinks{
    font-weight: bold;
    color: #eb5d1e;
  }
}
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 70vh;
  background:white;
  border-bottom: 2px solid #fcebe3;
  margin: 10rem 0 -72px 0;
}

#hero .description{
  font-family: "TT Norms";
  font-size: 24px;
  color: rgba(63,61,86,1);
  border-left-width: 1.5ex !important;
  border-left-color: #ffcf00 !important;
  color: rgba(63,61,86,1) !important;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: bold;
  line-height: 56px;
  color: #0f0f0f;
}

#hero h2 {
  
  color: #0f0f0f;
  margin-bottom: 50px;
  font-size: 22px;
}
#hero p {
  color: #0f0f0f;
  margin-bottom: 50px;
  font-size: 20px;
}

#hero .btn-get-started {
  font-family: "TT Norms";
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border: 2px solid #51486e;
  border-radius: 40px;
  transition: 0.5s;
  margin: 10px;
  color: #0f0f0f;
  background: #edbf07;
  text-decoration: none;
}
#hero .btn-get-rekister {
  font-family: "TT Norms";
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border: 2px solid #51486e;
  border-radius: 40px;
  transition: 0.5s;
  margin: 10px;
  color: #0f0f0f;
  background: #fff;
  text-decoration: none;
}

#hero .btn-get-started:hover {
  background:#fff;
  color: #0f0f0f;
}

#hero .btn-get-rekister:hover {
  background:#edbf07;
  color: #0f0f0f;
}

#hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
  #hero .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
  }
  #hero .container {
    margin-bottom: 10rem;
    text-align: center;
  }
}

@media (max-width: 991px) {
  #hero {
    height: calc(100vh - 72px);
  }
  #hero .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
  }
  #hero .hero-img {
    text-align: center;
  }
  #hero .hero-img img {
    width: 50%;
  }
  #hero .container {
    margin-bottom: 10rem;
    text-align: center;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  #hero .hero-img img {
    width: 70%;
  }
  #hero .animated {
    -webkit-animation: none;
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
  }
  #hero .container {
    margin-bottom: 10rem;
    text-align: center;
  }
}

@media (max-width: 575px) {
  #hero .hero-img img {
    width: 80%;
  }
  #hero .container {
    margin-bottom: 10rem;
    text-align: center;
  }
  #hero .animated {
    -webkit-animation: none;
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
  }
  #hero .btn-get-started {
    display: inline-block;
  }
  #hero .btn-get-rekister {
    display: inline-block;
  }
  
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
/*--------------------------------------------------------------
kasvuvaikuttajan section
---------------------------------------------------------------*/

#kasvut {
  background:white;
  margin-bottom: 100%;
  width: 100%;
  max-height: 100%;
  border-bottom: 2px solid #fcebe3;
  margin: 72px 0 -72px 0;
  height: 100%;
}
#kasvut .icon-box {
  margin-top: 40px;
}

#kasvut .description{
  font-family: "TT Norms";
  font-size: 24px;
  color: rgba(63,61,86,1);
  border-left-width: 1.5ex !important;
  border-left-color: #ffcf00 !important;
  color: rgba(63,61,86,1) !important;
}

#kasvut .hyodyt{
  font-family: "TT Norms";
  font-size: 24px;
  color: rgba(63,61,86,1);
  border-left-width: 1.5ex !important;
  border-left-color: #ffcf00 !important;
  color: rgba(63,61,86,1) !important;
}
#kasvut h3 {
  margin: 0 0 10px 0;
  font-size: 30px;
  font-weight: bold;
  color: rgba(63,61,86,1);
}

#kasvut h2 {
  margin: 0 0 10px 0;
  font-size: 24px;
  font-weight: bold;
  line-height: 56px;
  color: #0f0f0f;
}
#kasvut p {
  color: #0f0f0f;
  font-size: 20px;
  color: rgba(63,61,86,1)
}
#kasvut .container{
  margin-bottom: 5rem;
}

#kasvut .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (min-width: 1024px) {
  #kasvut {
    background-attachment: fixed;
  }
  #kasvut .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
  }
  #kasvut {
    border-bottom: 2px solid #fcebe3;
    margin: 72px 0 -72px 0;
    height: 100%;
  }
  
}

@media (max-width: 991px) {
  #kasvut {
    height: calc(100vh - 72px);
  }
  #kasvut .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
  }
  #kasvut .kasvut-img {
    text-align: center;
  }
  #kasvut .kasvut-img img {
    width: 50%;
  }
  #kasvut {
    border-bottom: 2px solid #fcebe3;
    margin: 72px 0 -72px 0;
    height: 100%;
  }
}

@media (max-width: 768px) {
  #kasvut h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #kasvut h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  #kasvut .kasvut-img img {
    width: 70%;
  }
  #kasvut .animated {
    -webkit-animation: none;
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
  }
  #kasvut {
    border-bottom: 2px solid #fcebe3;
    margin: 72px 0 -72px 0;
    height: 100%;
  }
}

@media (max-width: 575px) {
  #kasvut {
    max-width: 100%;
    max-width: 100%;
  }
  #kasvut .kasvut-img img {
    width: 80%;
    margin-top: -50rem !important;
  }
  #kasvut .animated {
    -webkit-animation: none;
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
  }
  #kasvut .description{
    font-family: "TT Norms";
    font-size: 18px;
    color: rgba(63,61,86,1);
    border-left-width: 1.5ex !important;
    border-left-color: #ffcf00 !important;
    color: rgba(63,61,86,1) !important;
  }
  #kasvut {
    border-bottom: 2px solid #fcebe3;
    margin: 72px 0 -72px 0;
    height: 100%;
  }
  #kasvut .hyodyt{
    font-family: "TT Norms";
    font-size: 18px;
    color: rgba(63,61,86,1);
  }
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
/*--------------------------------------------------------------
kasvuvaikkuttaja ends
---------------------------------------------------------------*/

/*--------------------------------------------------------------
kukka begins
---------------------------------------------------------------*/

#kukka {
  background:whitesmoke;
  margin-bottom: 100%;
  width: 100%;
  max-height: 100%;
  border-bottom: 2px solid #fcebe3;
  margin: 72px 0 -72px 0;
  height: 100%;
}
#kukka .icon-box {
  margin-top: 40px;
}

#kukka .description{
  font-family: "TT Norms";
  font-size: 24px;
  color: rgba(63,61,86,1);
  border-left-width: 1.5ex !important;
  border-left-color: #ffcf00 !important;
  color: rgba(63,61,86,1) !important;
}

#kukka .hyodyt{
  
  font-size: 24px;
  color: rgba(63,61,86,1);
  border-left-width: 1.5ex !important;
  border-left-color: #ffcf00 !important;
  color: rgba(63,61,86,1) !important;
}
#kukka h3 {
  margin: 0 0 10px 0;
  font-size: 30px;
  font-weight: bold;
  color: rgba(63,61,86,1);
}

#kukka h2 {
  margin: 0 0 10px 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 56px;
  color: #0f0f0f;
}
#kukka p {
  color: #0f0f0f;
  font-size: 20px;
  color: rgba(63,61,86,1)
}
#kukka .container{
  margin-bottom: 5rem;
}

#kukka .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (min-width: 1024px) {
  #kukka {
    background-attachment: fixed;
  }
  #kukka .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
  }
  #kukka {
    border-bottom: 2px solid #fcebe3;
    margin: 72px 0 -72px 0;
    height: 100%;
  }
  
}

@media (max-width: 991px) {
  #kukka {
    height: calc(100vh - 72px);
  }
  #kukka .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
  }
  #kukka .kukka-img {
    text-align: center;
  }
  #kukka .kukka-img img {
    width: 50%;
  }
  #kukka {
    border-bottom: 2px solid #fcebe3;
    margin: 72px 0 -72px 0;
    height: 100%;
  }
}

@media (max-width: 768px) {
  #kukka h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #kukka h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  #kukka .kukka-img img {
    width: 70%;
  }
  #kukka .animated {
    -webkit-animation: none;
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
  }
  #kukka {
    border-bottom: 2px solid #fcebe3;
    margin: 72px 0 -72px 0;
    height: 100%;
  }
}

@media (max-width: 575px) {
  #kukka {
    max-width: 100%;
    max-width: 100%;
  }
  #kukka .kukka-img img {
    width: 80%;
    margin-top: -50rem !important;
  }
  #kukka .animated {
    -webkit-animation: none;
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
  }
  #kukka .description{
    font-family: "TT Norms";
    font-size: 18px;
    color: rgba(63,61,86,1);
    border-left-width: 1.5ex !important;
    border-left-color: #ffcf00 !important;
    color: rgba(63,61,86,1) !important;
  }
  #kukka {
    border-bottom: 2px solid #fcebe3;
    margin: 72px 0 -72px 0;
    height: 100%;
  }
  #kukka .hyodyt{
    font-family: "TT Norms";
    font-size: 18px;
    color: rgba(63,61,86,1);
  }
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

/*--------------------------------------------------------------
kukka ends
---------------------------------------------------------------*/

/*--------------------------------------------------------------
growflow begins
---------------------------------------------------------------*/

#growflow {
  background:whitesmoke;
  margin-bottom: 100%;
  width: 100%;
  max-height: 100%;
  border-bottom: 2px solid #fcebe3;
  margin: 72px 0 -72px 0;
  height: 100%;
}
#growflow .icon-box {
  margin-top: 40px;
}

#growflow .description{
  font-family: "TT Norms";
  font-size: 24px;
  color: rgba(63,61,86,1);
  border-left-width: 1.5ex !important;
  border-left-color: #ffcf00 !important;
  color: rgba(63,61,86,1) !important;
}

#growflow .hyodyt{
  font-family: "TT Norms";
  font-size: 24px;
  color: rgba(63,61,86,1);
  border-left-width: 1.5ex !important;
  border-left-color: #ffcf00 !important;
  color: rgba(63,61,86,1) !important;
}
#growflow h3 {
  margin: 0 0 10px 0;
  font-size: 30px;
  font-weight: bold;
  color: rgba(63,61,86,1);
}

#growflow h2 {
  margin: 0 0 10px 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 56px;
  color: #0f0f0f;
}
#growflow p {
  color: #0f0f0f;
  font-size: 20px;
  color: rgba(63,61,86,1)
}
#growflow .container{
  margin-bottom: 5rem;
}

#growflow .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (min-width: 1024px) {
  #growflow {
    background-attachment: fixed;
  }
  #growflow .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
  }
  #growflow {
    border-bottom: 2px solid #fcebe3;
    margin: 72px 0 -72px 0;
    height: 100%;
  }
  
}

@media (max-width: 991px) {
  #growflow {
    height: calc(100vh - 72px);
  }
  #growflow .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
  }
  #growflow .growflow-img {
    text-align: center;
  }
  #growflow .growflow-img img {
    width: 50%;
  }
  #growflow {
    border-bottom: 2px solid #fcebe3;
    margin: 72px 0 -72px 0;
    height: 100%;
  }
}

@media (max-width: 768px) {
  #growflow h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #growflow h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  #growflow .growflow-img img {
    width: 70%;
  }
  #growflow .animated {
    -webkit-animation: none;
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
  }
  #growflow {
    border-bottom: 2px solid #fcebe3;
    margin: 72px 0 -72px 0;
    height: 100%;
  }
}

@media (max-width: 575px) {
  #growflow {
    max-width: 100%;
  }
  #growflow .growflow-img img {
    width: 80%;
    margin-top: -50rem !important;
  }
  #growflow .animated {
    -webkit-animation: none;
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
  }
  #growflow .description{
    font-family: "TT Norms";
    font-size: 18px;
    color: rgba(63,61,86,1);
    border-left-width: 1.5ex !important;
    border-left-color: #ffcf00 !important;
    color: rgba(63,61,86,1) !important;
  }
  #growflow {
    border-bottom: 2px solid #fcebe3;
    margin: 72px 0 -72px 0;
    height: 100%;
  }
  #growflow .hyodyt{
    font-family: "TT Norms";
    font-size: 18px;
    color: rgba(63,61,86,1);
  }
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

/*--------------------------------------------------------------
growflow ends
---------------------------------------------------------------*/
/*--------------------------------------------------------------
voima begins
---------------------------------------------------------------*/
#voima {
  background:whitesmoke;
  margin-bottom: 100%;
  width: 100%;
  max-height: 100%;
  border-bottom: 2px solid #fcebe3;
  margin: 72px 0 -72px 0;
  height: 100%;
}
#voima .icon-box {
  margin-top: 40px;
}

#voima .description{
  font-family: "TT Norms";
  font-size: 24px;
  color: rgba(63,61,86,1);
  border-left-width: 1.5ex !important;
  border-left-color: #ffcf00 !important;
  color: rgba(63,61,86,1) !important;
}

#voima .hyodyt{
  font-family: "TT Norms";
  font-size: 24px;
  color: rgba(63,61,86,1);
  border-left-width: 1.5ex !important;
  border-left-color: #ffcf00 !important;
  color: rgba(63,61,86,1) !important;
}
#voima h3 {
  margin: 0 0 10px 0;
  font-size: 30px;
  font-weight: bold;
  color: rgba(63,61,86,1);
}

#voima h2 {
  margin: 0 0 10px 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 56px;
  color: #0f0f0f;
}
#voima p {
  color: #0f0f0f;
  font-size: 20px;
  color: rgba(63,61,86,1)
}
#voima .container{
  margin-bottom: 5rem;
}

#voima .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (min-width: 1024px) {
  #voima {
    background-attachment: fixed;
  }
  #voima .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
  }
  #voima {
    border-bottom: 2px solid #fcebe3;
    margin: 72px 0 -72px 0;
    height: 100%;
  }
  
}

@media (max-width: 991px) {
  #voima {
    height: calc(100vh - 72px);
  }
  #voima .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
  }
  #voima .voima-img {
    text-align: center;
  }
  #voima .voima-img img {
    width: 50%;
  }
  #voima {
    border-bottom: 2px solid #fcebe3;
    margin: 72px 0 -72px 0;
    height: 100%;
  }
}

@media (max-width: 768px) {
  #voima h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #voima h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  #voima .voima-img img {
    width: 70%;
  }
  #voima .animated {
    -webkit-animation: none;
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
  }
  #voima {
    border-bottom: 2px solid #fcebe3;
    margin: 72px 0 -72px 0;
    height: 100%;
  }
}

@media (max-width: 575px) {
  #voima {
    max-width: 100%;
  }
  #voima .voima-img img {
    width: 80%;
    margin-top: -50rem !important;
  }
  #voima .animated {
    -webkit-animation: none;
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
  }
  #voima .description{
    font-family: "TT Norms";
    font-size: 18px;
    color: rgba(63,61,86,1);
    border-left-width: 1.5ex !important;
    border-left-color: #ffcf00 !important;
    color: rgba(63,61,86,1) !important;
  }
  #voima {
    border-bottom: 2px solid #fcebe3;
    margin: 72px 0 -72px 0;
    height: 100%;
  }
  #voima .hyodyt{
    font-family: "TT Norms";
    font-size: 18px;
    color: rgba(63,61,86,1);
  }
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

/*--------------------------------------------------------------
voima ends
---------------------------------------------------------------*/


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #363a59;
  padding: 0 0 30px 0;
  color: white;
  font-size: 14px;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  color: white;
  background: #363a59;
}


#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: white;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
  
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}



#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #5c5c5c;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #e3a509;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: white;
  color: #363a59;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #e3a509;
  color: #fff;
  text-decoration: none;
}

#footer .copyright {
  text-align: center;
  float: left;
}


@media (max-width: 575px) {
  #footer .copyright, #footer .credits {
    float: none;
    -moz-text-align-last: center;
    text-align-last: center;
    padding: 3px 0;
  }
}
